<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>RBAC API | Docs</title>

    <script
      src="https://unpkg.com/@stoplight/elements/web-components.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@stoplight/elements/styles.min.css"
    />
  </head>
  <body>

    <elements-api
      apiDescriptionUrl={{specUrl}}
      layout="responsive"
      router="hash"
      {{! tryItCredentialsPolicy='true' }}
      {{! hideTryIt='true' }}
      {{! hideSchemas='true' }}
      logo="https://raw.githubusercontent.com/vivekkv178/cdn/main/rbac/Logo.png"
    />

  </body>
</html>